@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   background-color: #f8fafc;
}

.glasses-effect {
   /* From https://css.glass */
   background: rgba(255, 255, 255, 0.33);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(11.5px);
   -webkit-backdrop-filter: blur(11.5px);
}
/* body {
   min-width: 320px;
   min-height: 100vh;
} */
